/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.textarea-wrapper {
  position: relative;
}
.remaning {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
