<div class="content"><span>ulventechTask app is running!</span></div>
<h1>Angular 13 Reactive Forms Validation</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
<div class="form-group">
  <label for="exampleFormControlTextarea1">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="value" (ngModelChange)="valueChange(value)" formControlName="desc" rows="3"></textarea>
  <div class="count-div">
		<div *ngIf="value?.length" class="count-text" >{{value.length}}</div>
	</div>
  <div *ngIf="f.desc.touched && f.desc.invalid" class="alert alert-danger">
    <div *ngIf="f.desc.errors?.required">Desc is required.</div>
    <div *ngIf="f.desc.errors?.minlength">Desc should be 10 character.</div>
    <div *ngIf="f.desc.errors?.maxlength">Desc should be 100 character.</div>
    <div *ngIf="f.desc.errors?.pattern">Desc should be String.</div>
</div>
</div>

<div class="form-group">
  <label for="exampleFormControlInput1">URL</label>
  
  <textarea class="form-control" >{{ txtwordCount }}</textarea>
  
</div>



<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">{{ postsData?.name}}</h6>
  <div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{ postsData?.logo }}" data-holder-rendered="true">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Address : </strong>
      {{ postsData?.address + " phone " + postsData?.phone_number}}

      
    </p>
    <div class="container">
      <div class="row">
        


        <div class="container ">
          <div class="row bg-info">
            <div class="col-sm">
              Day
            </div>
            <div class="col-sm">
              Open
            </div>
            <div class="col-sm">
              Open Time
            </div>
            <div class="col-sm">
              Close Time
            </div>
          </div>
          <div class="row" *ngFor="let item of postsData?.hours | keyobject">
            <div class="col-sm">
              {{ item.key }}
            </div>
            <div class="col-sm">
              {{ item.value.is_closed? "Open" : "Close" }}
            </div>
            <div class="col-sm">
              {{ item.value.opens_at  }}
            </div>
            <div class="col-sm">
              {{ item.value.closes_at }}
            </div>
          </div>
        </div>
        
      </div>
    </div> 
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Description : </strong>
      {{ postsData?.description}}
    </p>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Review : </strong>
      {{ postsData?.review}}
    </p>
  </div>
  
</div>
    
   
    
</form>